@model GoldUSD.Models.PriceGridModel
@{
    foreach (var priceType in Model.PriceTypes)
    {
        var priceGrid = new WebGrid(canSort: false, canPage: false);
        if (priceType.Prices.Any())
        {
            priceGrid.Bind(priceType.Prices, autoSortAndPage: false);
        }
        else
        {
            priceGrid = null;
        }

        if (priceGrid != null)
        {
            <strong>@priceType.Name</strong>
            @priceGrid.GetHtml(htmlAttributes: new {border = "1px;"}, columns: new[]
                                                                                   {
                                                                                       priceGrid.Column("Symbol", "Mã"),
                                                                                       priceGrid.Column("BuyingPrice", "Mua vào"),
                                                                                       priceGrid.Column("SellingPrice", "Bán ra"),
                                                                                       priceGrid.Column(header: "", format: item => MvcHtmlString.Create(string.Format("<a href='javascript:void(0)' onclick='deletePrice({0})' >Xóa</a> <a class='action' href='{1}'>Sửa</a>", item.Id, Url.Action("EditPrice", "Admin", new {id = item.Id})))),

                                                                                   })
            <br/>
        }
    }
}
<script type="text/javascript">
    $(function() {
        $('.action').click(function () {
            $("#container").load($(this).attr('href'));
            return false;
        });
    });
</script>