@model GoldUSD.Data.Models.NewsContentManagementModel
@{
    ViewBag.Title = "NewsContentManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Quản li tin tuc</h2>
Noi dung :<br/>
@using (Html.BeginForm("NewsContentManagement","Admin", FormMethod.Post))
{
    @Html.TextAreaFor(m => m.Content, new {style = "width:500px;height:300px;"})<br/>
    <input type="submit" value="Lưu"/>
}