@model GoldUSD.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Header
{
    <script type="text/javascript">
        $(function() {
            @if(ViewBag.SaveSuccess != null)
            {
                @:alert("Đổi mật khẩu thành công");
            }
        });
    </script>
}
<h2>Đổi mật khẩu</h2>
@using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post))
{
    <table>
        <tr>
            <td>Mật khẩu mới</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
        </tr>
        <tr>
            <td>Xác nhận mật khẩu</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Lưu"/></td>
        </tr>
    </table>
    @Html.ValidationSummary()
}
